@font-face {
  font-family: "SF-PRO-Regular";
  src: url("./fonts/SFPRODISPLAYREGULAR.OTF");
}

body {
  margin: 0;
  background-color: #f5f5f7;
  font-family: "SF-PRO-Regular", sans-serif;
  color: rgba(0, 0, 0, 0.8);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
